# Python For Loops
### Looping Through a List

In [1]:
names_list = ['Ahmed','Menna','Sara','Abdelrhman']
for n in names_list:
  print(n)

Ahmed
Menna
Sara
Abdelrhman

### Looping Through a String

In [2]:
for n in 'Abdelrhman':
  print(n)

A
b
d
e
l
r
h
m
a
n

### The range() Function

In [3]:
# range(start , end,step) end value excluded
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [4]:
# range(start , end,step) end value excluded step = 2
for i in range(0,6,2):
  print(i)

0
2
4

### The break Statement

In [6]:
# With the break statement we can stop the loop before it has looped through all the list
names_list = ['Ahmed','Menna','Sara','Abdelrhman']
for n in names_list:
  print(n)
  if n == 'Sara':
    break

Ahmed
Menna
Sara

### The continue Statement

In [7]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next
names_list = ['Ahmed','Menna','Sara','Abdelrhman']
for n in names_list:
  if n == 'Sara':
    continue
  print(n)

Ahmed
Menna
Abdelrhman

### The pass Statement

In [8]:
# for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error
names_list = ['Ahmed','Menna','Sara','Abdelrhman']
for n in names_list:
  pass

### Nested Loops

In [9]:
#A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop"
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry